{{partial:navigation navbar="true"}}
<div class="blog-title" style="
background: url({{glide:hero_image width="1920" height="1080"}}) no-repeat center center;
background-size: cover;
">
    <div class="shim"></div>
    <div class="content">
        <h2>{{title}}</h2>
        <h4>{{sub_title}}</h4>
        {{ if author}}
        {{relate:author}}
        <p class="author">By {{title}}</p>
        {{/relate:author}}
        {{/if}}
        <p class="date">{{date}}</p>
        <div class="tags">{{tags }}<a href="{{url}}">{{title}}</a>{{/tags}}</div>
    </div>
</div>
<section class="text-content">
  <a href="#" class="back-to-blog">Back To Posts</a>
      {{text_content}}
            {{ partial src="sets/{type}" }}
        {{/text_content}}
        {{if enable_comments}}
            <h3>Leave a Comment</h3>
            <hr style="margin-bottom: 2em;">
            <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = {{url}};  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{disqus_key}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            <span style="margin-bottom: 2em;"></span>
        {{/if}}
  <a href="#" class="back-to-blog">Back to Posts</a>
</section>
