{{partial:navigation navbar="true"}}
<div class="blog-title" style="
background: url({{glide:hero_image width="1920" height="1080"}}) no-repeat center center;
background-size: cover;
">
    <div class="shim"></div>
    <div class="content">
        <h2>{{title}}</h2>
        <h4>{{sub_title}}</h4>
        {{ if author}}
        {{relate:author}}
        <p class="author">By {{title}}</p>
        {{/relate:author}}
        {{/if}}
        <p class="date">{{date}}</p>
        <div class="tags">{{tags }}<a href="{{url}}">{{title}}</a>{{/tags}}</div>
    </div>
</div>
<section class="text-content">
  <a href="#" class="back-to-blog">Back To Posts</a>
      {{text_content}}
            {{ partial src="sets/{type}" }}
        {{/text_content}}
        {{if enable_comments}}
        <h3>Leave a Comment</h3>
        <hr style="margin-bottom: 2em;">
{{ disqus:comments id="{ id }" }}
<span style="margin-bottom: 2em;"></span>
{{/if}}
  <a href="#" class="back-to-blog">Back to Posts</a>
</section>
