<!-- A signup form on a medium background with an image to the right on dekstops -->
<section class="signup-1" id="signup">
        <div class="main">
            <h2>{{heading}}</h2>
            {{text}}
            <form action="https://formspree.io/brianmcclure21@gmail.com"
            method="POST"">
                <input type="text" placeholder="Name">
                <input type="tel" placeholder="Phone">
                <input type="email" placeholder="Email" name="_replyto">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="image">
            <img src="{{glide:image width="890" height="514" fit="crop"}}" alt="">
        </div>
</section>
